<div class="todo-card">
  @if (!isEditing) {
    <div class="flex">
      <h3>{{ todoData.content }}</h3>
      <button (click)="startEditing()">Edit</button>
    </div>
  } @else {
    <input type="text" [(ngModel)]="todoData.content" />
    <button (click)="updateTodoTitle()">Save</button>
    <button (click)="cancelEditing()">Cancel</button>
  }
  <div>
    <input
      type="checkbox"
      [(ngModel)]="todoData.isCompleted"
      (change)="onStatuschange()"
    />
    Status : {{ todoData.isCompleted ? "Done" : "not Done" }}
  </div>
  <small>Created: {{ todoData.createdAt }}</small>
  <button (click)="deleteTodo()">Delete Me</button>

  <hr />
</div>
