<div class="todo-form-wrapper">
  <h2>Todo App</h2>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <input
      id="taskTitle"
      type="text"
      formControlName="taskTitle"
      placeholder="What's on your mind?"
    />

    @if (
      todoForm.get("taskTitle")?.invalid && todoForm.get("taskTitle")?.touched
    ) {
      <div class="error">Task title is required.</div>
    }

    <button type="submit" [disabled]="todoForm.invalid">Add Task</button>
  </form>
  <br />
  <div class="flex">
    <small>Filter By : </small>
    <select [(ngModel)]="todoStatus" (change)="filterBy()">
      <option value="true">Done</option>
      <option value="false">Not Done</option>
    </select>
  </div>

  @for (todo of todos; track todo.id) {
    <app-todo [todoData]="todo" />
  }
  Current Page : {{ currentPage }}
  @if (showMoreButton) {
    <button (click)="getMoreData()">Show more</button>
  }
</div>
