<div class="todo-form-wrapper">
  <h2>Todo App</h2>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <input
      id="taskTitle"
      type="text"
      formControlName="taskTitle"
      placeholder="What's on your mind?"
    />

    @if (
      todoForm.get("taskTitle")?.invalid && todoForm.get("taskTitle")?.touched
    ) {
      <div class="error">Task title is required.</div>
    }

    @for (todo of todos; track todo.id) {
      <app-todo [todoData]="todo" />
    }

    <button type="submit" [disabled]="todoForm.invalid">Add Task</button>
  </form>
</div>
